{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@AppBundle/Resources/style/main.scss' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}



{% block title %}KKnyga{% endblock %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}

{% block page_content %}
{% endblock %}

{% block avanzu_admin_footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/scripts/main.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
