{% extends '::base.html.twig' %}

{% block title %}NFQ AKADEMIJA - LIST{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table {
            width: 100%;
        }
        td {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>

{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tr>
            {# sorting of properties based on query components #}
            <th style="width: 5%">{{ knp_pagination_sortable(pagination, '#', 'a.id') }}</th>
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Content', 'a.content') }}</th>
            <th style="width: 15%">{{ knp_pagination_sortable(pagination, 'Created By', 'a.createdBy') }}</th>
            <th style="width: 15%">Actions</th>
        </tr>

        {# table body #}
        {% for post in pagination %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdBy.username }}</td>
                <td>
                    <a href="view/{{ post.id }}" class="btn btn-primary btn-xs" role="button">View</a>
                    <a href="delete/{{ post.id }}" class="btn btn-danger btn-xs" role="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}