{% extends '::base.html.twig' %}

{% block title %}NFQ AKADEMIJA - LIST{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table {
            width: 100%;
        }
        .cell {
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>

{% endblock %}

{% block body %}
    <table class="table table-striped">
        <tr>
            <th style="width: 5%">#</th>
            <th>Title</th>
            <th>Content</th>
            <th style="width: 15%">Created By</th>
            <th style="width: 15%">Actions</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td class="cell">{{ post.id }}</td>
                <td class="cell">{{ post.title }}</td>
                <td class="cell">{{ post.content }}</td>
                <td class="cell">{{ post.createdBy }}</td>
                <td class="cell">
                    <a href="view/{{ post.id }}" class="btn btn-primary btn-xs" role="button">View</a>
                    <a href="delete/{{ post.id }}" class="btn btn-danger btn-xs" role="button">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}